Repository dog-18/dog18: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-server, typecheck-client

typecheck-server:
  run: bun tsc --noEmit

typecheck-client:
  run: bun tsc --noEmit

refactor(server): extract router and middlewares in separate files
  .envrc
  client/src/lib/config.ts
  package.json
  server/fly.toml
  server/src/app.ts
  server/src/index.ts
  server/src/lib/config.ts
  server/src/middlewares.ts
  server/src/routes/index.ts
  server/src/routes/root.ts
Due: typecheck-server, typecheck-client

docs: update readme
  README.md
Due: none

ci: remove test job
  .github/workflows/main.yaml
Due: none

fix(client): append `VITE_` to client env var name
  .envrc
  client/src/lib/config.ts
Due: typecheck-client

style(client): make Footer bigger
  client/src/components/Footer.tsx
Due: typecheck-client

style(client): custom color and backround QR options
  client/public/pawprint-violet.png
  client/src/components/Login.tsx
  client/src/lib/generate-qrcode.ts
Due: typecheck-client

style(client): use violet favicon
  client/index.html
  client/public/favicon.ico
Due: none

feat(client): logout
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/ProtectedRoute.tsx
  client/src/components/X.tsx
  client/src/hooks/useAuthorized.ts
  client/src/hooks/useStore.ts
  client/src/lib/store.ts
  client/src/main.tsx
Due: typecheck-client

chore: remove console.log
  client/src/hooks/useProofSocket.ts
Due: typecheck-client

docs: update README
  README.md
  server/README.md
  server/package.json
Due: none

fix(server): add tslib
  bun.lockb
  server/package.json
  yarn.lock
Due: none

wip
  next-client/.gitignore
  next-client/README.md
  next-client/bun.lockb
  next-client/next.config.mjs
  next-client/package.json
  next-client/postcss.config.mjs
  next-client/src/app/favicon.ico
  next-client/src/app/fonts/GeistMonoVF.woff
  next-client/src/app/fonts/GeistVF.woff
  next-client/src/app/globals.css
  next-client/src/app/layout.tsx
  next-client/src/app/login/page.tsx
  next-client/src/app/page.tsx
  next-client/src/app/x/page.tsx
  next-client/src/components/Footer.tsx
  next-client/src/components/Header.tsx
  next-client/src/components/Landing.tsx
  next-client/src/components/Layout.tsx
  next-client/src/components/Login.tsx
  next-client/src/components/ProtectedRoute.tsx
  next-client/src/components/QrCode/LED.tsx
  next-client/src/components/QrCode/OpenPassportQrCode.tsx
  next-client/src/components/QrCode/ProofAnimation.tsx
  next-client/src/components/QrCode/QrCodeDisplay.tsx
  next-client/src/components/QrCode/check_animation.json
  next-client/src/components/X.tsx
  next-client/src/hooks/useAuthorized.ts
  next-client/src/hooks/useProofSocket.ts
  next-client/src/hooks/useQRCode.ts
  next-client/src/hooks/useStore.ts
  next-client/src/hooks/useVerify.ts
  next-client/src/lib/config.ts
  next-client/src/lib/constants.ts
  next-client/src/lib/generate-qrcode.ts
  next-client/src/lib/index.ts
  next-client/src/lib/store.ts
  next-client/src/lib/types.ts
  next-client/src/lib/verifier.ts
  next-client/tailwind.config.ts
  next-client/tsconfig.json
Due: none

fix(client): set auth in store before navigating to protected route
  client/src/components/QrCode/OpenPassportQrCode.tsx
Due: typecheck-client

fix: render conditionally parts of Header
  .gitignore
  client/src/components/Header.tsx
  client/tsconfig.tsbuildinfo
Due: typecheck-client

fix(client): add missing deps
  bun.lockb
  client/package.json
  yarn.lock
Due: typecheck-client

fix(client): do not prerender Login component
  bun.lockb
  client/package.json
  client/src/app/login/page.tsx
  client/src/hooks/useProofSocket.ts
  client/src/lib/store.ts
  client/src/lib/types.ts
  yarn.lock
Due: typecheck-client

fix: add missing `react-spinner` dep
  bun.lockb
  client/package.json
  yarn.lock
Due: typecheck-client

refactor(client): do not use LED component
  client/src/components/QrCode/LED.tsx
  client/src/components/QrCode/OpenPassportQrCode.tsx
  client/src/hooks/useProofSocket.ts
  client/src/lib/types.ts
Due: typecheck-client

style: change Loader color
  client/src/app/login/page.tsx
  client/src/app/page.tsx
  client/src/components/Header.tsx
  client/src/components/QrCode/OpenPassportQrCode.tsx
Due: typecheck-client

chore: add `lottie-react`
  bun.lockb
  client/package.json
  yarn.lock
Due: typecheck-client

fix(client): add `socket.io-client` dep
  bun.lockb
  client/package.json
  yarn.lock
Due: typecheck-client

chore: disable next lint during build
  client/next.config.mjs
Due: typecheck-client

perf: optimize with `million`
  bun.lockb
  client/next.config.mjs
  client/package.json
  yarn.lock
Due: typecheck-client

chore(server): build prod Docker image
  bun.lockb
  server/.dockerignore
  server/Dockerfile
  server/fly.toml
  server/package.json
  server/render.yaml
  server/src/lib/run-snarkjs-verification.ts
  yarn.lock
Due: typecheck-server

feat(client): protect `/x` route
  client/src/app/x/page.tsx
  client/src/components/withAuth.tsx
Due: typecheck-client

chore: add comment
  .biome.jsonc
  client/src/components/withAuth.tsx
  client/src/hooks/useAuthorized.ts
Due: typecheck-client

feat(client): do not show login button link on login page
  client/src/components/Header.tsx
Due: typecheck-client

fix(client): protect `/x` route (#3)
  .biome.jsonc
  client/src/app/x/page.tsx
  client/src/components/Header.tsx
  client/src/components/withAuth.tsx
  client/src/hooks/useAuthorized.ts
Due: typecheck-client

fix(client): update github link
  client/src/app/page.tsx
  client/src/components/ExternalLink.tsx
  client/src/lib/constants.ts
Due: typecheck-client

chore: remove unused files
  .secret-sample
  scripts/secrets-entrypoint.sh
Due: none

Path conditions:
  typecheck-server: any of: server/**/*.{cjs.js,json,mjs,ts} and ^server/
  typecheck-client: any of: *.{cjs,js,json,jsx,mjs,ts,tsx} and ^client/
